name: tawk
description: "Flutter plugin providing tawk.to chat as a webview"
version: 0.1.0
repository: https://github.com/csertant/tawk
issue_tracker: https://github.com/csertant/tawk/issues

environment:
  sdk: ^3.9.2
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2
  webview_flutter: ^4.0.7

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  plugin:
    platforms:
      android:
        package: dev.binarybush.tawk
        pluginClass: TawkPlugin
      ios:
        pluginClass: TawkPlugin
      web:
        pluginClass: TawkWeb
        fileName: lib/tawk_web.dart
