name: Test, lint and format

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Cache pub deps
        uses: actions/cache@v4
        with:
          path: ~/.pub-cache
          key: ${{ runner.os }}-pub-${{ hashFiles('**/pubspec.yaml') }}
          restore-keys: ${{ runner.os }}-pub-

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          flutter-version: "3.3.0"

      - name: Get Flutter packages
        run: flutter pub get

      - name: Generate l10n files
        run: flutter gen-l10n

      - name: Flutter lint
        # TODO The last two options should be removed as soon as possible
        run: flutter analyze --no-pub --no-fatal-infos --no-fatal-warnings

      - name: Flutter format
        run: dart format --set-exit-if-changed .

      #- name: Run tests
      #  run: flutter test --coverage