name: Test, lint and format

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Cache pub deps
        uses: actions/cache@v4
        with:
          path: ~/.pub-cache
          key: ${{ runner.os }}-pub-${{ hashFiles('**/pubspec.yaml') }}
          restore-keys: ${{ runner.os }}-pub-

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          flutter-version: 3.38.5

      - name: Get Flutter packages
        run: flutter pub get

      - name: Flutter lint
        run: flutter analyze --no-pub --no-fatal-infos

      - name: Flutter format
        run: dart format --set-exit-if-changed .

      - name: Run tests
        run: flutter test --coverage
